<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SipaaOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SipaaOS.My.MySettings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="EnableSaero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value>SipaaOSUser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </SipaaOS.My.MySettings>
    </userSettings>
</configuration>